<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552529206563-ffsuo62udnf9nmr6r0usha2lr4aitqgj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552529206563-ffsuo62udnf9nmr6r0usha2lr4aitqgj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552529206563-2q4tnjdtc7n6ignur8vl6r8dr0gvuspu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaP8YhraHDLs55jo1CyMVNcQQonXapkK4</string>
	<key>GCM_SENDER_ID</key>
	<string>552529206563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transen.app</string>
	<key>PROJECT_ID</key>
	<string>transen-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>transen-pro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552529206563:ios:f3c97c28f910c7db03c096</string>
</dict>
</plist>
